# Ignorar carpetas y archivos de compilación
/bin/
/obj/
/out/

# Ignorar archivos de configuración de usuario de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos de registro
*.log

# Ignorar carpetas de dependencias de NuGet
packages/
*.nupkg

# Ignorar archivos temporales
*.tmp
*.temp

# Ignorar carpetas de Docker
.docker/
docker-compose.override.yml

# Ignorar archivos de configuración de JetBrains Rider
.idea/